@use "sass:color";

// I generated a colourscheme using Pantone colours on Adobe Color. The result
// is below.
$Map-Color-Scheme-1-hex: #3B3D3F;
$Map-Color-Scheme-2-hex: #FF8573;
$Map-Color-Scheme-3-hex: #FEB237;
$Map-Color-Scheme-4-hex: #288A7C;
$Map-Color-Scheme-5-hex: #D6DED9;

// Nicer color definitions:
$black: $Map-Color-Scheme-1-hex;
$salmon: $Map-Color-Scheme-2-hex;
$yellow: $Map-Color-Scheme-3-hex;
$teal: $Map-Color-Scheme-4-hex;
$teal--lighter: color.scale($teal, $lightness: 20%);
$white: $Map-Color-Scheme-5-hex;

// Some theming colours:
$background: $black;
$background--darker: color.scale($background, $lightness: -30%);
$text: $white;
